<h3>Login</h3>

<div class="row">
	<form class="col s12" method="POST" action="/auth/login">
		<div class="row">
			<div class"input-field col s6">
				<input placeholder="Email" id="email" type="text" >
				<label for="email">Email</label>
			</div>
			<div class"input-field col s6">
				<input placeholder="Name" id="name" type="text" >
				<label for="name">Name</label>
			</div>
			<div class"input-field col s6">
				<input placeholder="Password" id="password" type="password" >
				<label for="password">Password</label>
			</div>
			<button class="btn" type="submit" name="action">Submit
				<i class="material-icons right">send</i>
			</button>
		</div>s
	</form>
</div>