<h3 class="center">Find a Match!</h3>
<h5>Choose an option below to find someone in your network to commute with.</h5>
<div class="row center">
	<a class="waves-effect waves-light pink darken-3 btn-large"><i class="material-icons left">directions_car</i>Carpool</a>
	<a class="waves-effect waves-light yellow lighten-1 btn-large"><i class="material-icons left">directions_bike</i>Bike</a>
	<a class="waves-effect waves-light pink lighten-2 btn-large"><i class="material-icons left">directions_bus</i>Public Transit</a>
	<a class="waves-effect waves-light light-blue lighten-2 btn-large"><i class="material-icons left">directions_walk</i>Walk</a>
</div>
<div class="row center">
	<a class="waves-effect waves-light cyan darken-3 btn-large">Custom Search</a>
</div>