<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>myCommute!</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  	<link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<div class="container container-main">
		<nav class="white">
			<div class="nav-wrapper">
				<a href="/">myCommute!</a>
				<ul class="right">
					<% if (currentUser) { %>
            <li><a href="/find">Find</a></li>
            <li><a href="/groups">Groups</a></li>
						<li><a href="/settings">Settings</a></li>
            <li><a href="/auth/logout">Logout</a></li>
					<% } else { %>
						<li><a href="/auth/login">Login</a></li>
						<li><a href="/auth/signup">Signup</a></li>
					<% } %>
				</ul>
			</div>
		</nav>
		<% if(typeof alerts !== 'undefined'){ %>
        <% for(key in alerts){ %>
            <% alerts[key].forEach(function(thisMsg){ %>
                <div class="alert alert-<%= key %>"><%= thisMsg %></div>
            <% }); %>
        <% } %>
    <% } %>
    <%- body %>


    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l3 s12">
            <h5 class="pink-text text-darken-3">Connect</h5>
            <ul>
              <li><a class="pink-text text-darken-3" href="https://github.com/samofrench/">GitHub</a></li>
              <li><a class="pink-text text-darken-3" href="https://www.linkedin.com/pub/sam-french/83/760/850">LinkedIn</a></li>
              <li><a class="pink-text text-darken-3" href="https://generalassemb.ly/">General Assembly</a></li>
            </ul>
            <h5 class="pink-text text-darken-3">Powered By</h5>
            <ul>
              <li><a class="pink-text text-darken-3" href="http://materializecss.com/">Materialize</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- <div class="footer-copyright">
        <div class="container">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div> -->
    </footer>
	</div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/js/materialize.js"></script>
  <script src="/js/init.js"></script>
</body>
</html>