<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center light-blue-text text-lighten-2">Welcome to myCommute!</h1>
      <div class="row center">
        <h5 class="header col s12 light">Our goal is to make commuting more efficient and enjoyable by connecting you with other people in your personal and professional networks.</h5>
      </div>
      <div class="row center">
        <a href="/auth/signup" id="download-button" class="btn-large waves-effect waves-light cyan darken-3">Create an Account</a>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center yellow-text text-lighten-2"><i class="material-icons">attach_money</i></h2>
            <h5 class="center">Save Time and Money</h5>

            <p class="light">Carpooling saves money on gas and parking, and it reduces traffic on the roads. <em>myCommute!</em> makes it easy to find others at your work or school who have the same commute as you, so you can start saving right away.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center yellow-text text-lighten-2"><i class="material-icons">group</i></h2>
            <h5 class="center">Discover new Friends</h5>

            <p class="light"><em>myCommute!</em> also has built-in functionality to connect people over more than just carpooling. You can engage with your network by finding other bikers, transit riders, and walkers who live in your neighborhoods.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center yellow-text text-lighten-2"><i class="material-icons">lock</i></h2>
            <h5 class="center">Secure</h5>

            <p class="light">We do not share your name, email address, or location with any other users. Results are displayed anonymously based on shared criteria such as carpooling, transit, biking, and wlaking. After you make a connection, the rest is up to you!</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>
<!-- 
<div class="row pink darken-3">Some text</div>
<div class="row yellow lighten-2">Some text</div>
<div class="row light-blue lighten-2">Some text</div>
<div class="row pink lighten-2">Some text</div>
<div class="row cyan darken-3">Some text</div> -->